<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aubervilliers.orange.aubrecettage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ChoixRecetteActivity" />
        <activity android:name=".ui.infostickets.InfosCablageSimpleActivity" />
        <activity android:name=".ui.infostickets.InfosJ4Activity" />
        <activity android:name=".ui.infostickets.InfosRackageActivity" />
        <activity android:name=".ui.infostickets.InfosCablageComplexeActivity" />
        <activity android:name=".ui.infostickets.InfosE26Activity" />
        <activity android:name=".ui.infostickets.InfosIncidentActivity" />
        <activity
            android:name=".ui.fiches.CablageSimpleActivity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".ui.fiches.RackageActivity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".ui.RecapActivity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity android:name=".ui.ExportActivity" />
        <activity
            android:name=".ui.fiches.J4Activity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".ui.fiches.CablageComplexeActivity"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".ui.fiches.E26Activity"
            android:windowSoftInputMode="stateUnchanged" />
    </application>

</manifest>